<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">x</span>
    <!--<form action="#" id="form" method="post" name="form">
		<img onClick="javascript: modal.hide();" id="close" src="images/3.png" onclick ="div_hide()">
		<h2>Create Event</h2>
		<hr>
		<input id="date" name="date" placeholder="Date (mm/dd/yyyy)" type="text/>
		<input id="title" name="title" placeholder="Event Title" type="text"/>
		<input id="location" name="location" placeholder="Event Location" type="text"/>
		<textarea id="desc" name="desc" placeholder="Brief Description"></textarea>
		<a href="javascript: check_empty()" id="submit">Create</a>
	</form>-->
	<p>Test!</p>
  </div>
</div>
<!-- Modal Ends Here -->