<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ pageTitle }}</title>
    <link rel="stylesheet" href="/public/css/styles-from-sass.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- Insert this line above script imports  -->
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/public/js/calendar.js"></script>
    <!-- Insert this line after script imports -->
    <script>if (window.module) module = window.module;
    </script>
</head>

<body>
    <div class="container">
        <h1 id="the-heading">A CrAzY Calendar</h1>
        <h2>by Kevin Furlong</h2>
        
        <section>
            <main class="col-sm-12 col-md-8">
                <h2>{{ pageTitle }}</h2>
                {{{body}}}
            </main>
        </section>
    </div>
</body>

</html>