<h3>New Event</h3>
<hr/>
<form onsubmit="return false;">
	<input type="hidden" id="form-id" name="id" value=""/>
	Date:<br/>
		<input id="form-date" type="date" /><br/><br/>

	Title:<br/>
	<input id="form-title" type="text" name="title"/><br/><br/>

	Location:<br/>
	<input id="form-location" type="text" name="title"/><br/><br/>

	Description:<br/>
	<textarea id="form-description" name="description" rows=8 cols=35></textarea><br/><br/>

	<div class="isa_error" id="form-errors">
	</div>
	<div>
		<button id="form-submit" onclick="eventFormSubmitted();" class="btn green">Create Event</button>
		<button class="btn green" onclick="goBack()">Cancel</button>
	</div>
</form>