<h3>New Event</h3>
<form onsubmit="event.preventDefault();">
<input type="hidden" id="form-id" name="id" value=""/>
Date:
	<input type="date" /><br/><br/>

Title:<br/>
<input id="form-title" type="text" name="title"/><br/><br/>

Location:<br/>
<input id="form-location" type="text" name="title"/><br/><br/>

Description:<br/>
<textarea id="form-description" name="description" rows=8 cols=35></textarea><br/><br/>

<div class="error"></div>
<button id="form-submit" class="btn">Create Event</button>
</form>