<h3>New Event</h3>
<form>
Date:
<select><option>Month</option></select> / <select><option>Day</option></select> / <select><option>Year</option></select> <br><br>

Title:<br>
<input type="text" name="title"/><br><br>

Location:<br>
<input type="text" name="title"/><br><br>

Description:<br>
<textarea name="description" rows=8 cols=35></textarea><br><br>

<div class="error"></div>
<button class="btn">Create Event</button>
</form>