.dateAndEvents {
	display: inline-block;
	width: 60%;
}

.dateAndInfo {
	display: inline-block;
	border-left: solid;
	padding: 15px;
}

hr {
	border-width: 1px 0 0;
}

.nearbyDays {
	dispaly: inline-flex;
	margin-top: 20px;
}

.nearby-day {
	border: solid;
	padding: 70px;
}